{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <h5>Home</h5>
    <div class="container row">
        <div class="col-sm">
            <div class="container" style="width: 60%;">
                <canvas id="incomes-and-expenses-monthly"></canvas>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <canvas id="incomes-and-expenses-yearly"></canvas>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/scripts/home/stats.js"></script>
{% endblock %}