{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">

<h5>Home</h5>
<div class="row align-items-stretch">
    <!-- MONTHLY -->
    <div class="col-sm d-flex justify-content-center">
        <div class="chart-box">
            <canvas id="incomes-and-expenses-monthly"></canvas>
        </div>
    </div>
    <!-- YEARLY -->
    <div class="col-sm d-flex justify-content-center">
        <div class="chart-box">
            <canvas id="incomes-and-expenses-yearly"></canvas>
        </div>
    </div>
</div>

<!-- Fancy Dark Mode Card -->
<div class="d-flex justify-content-center my-2">
    <div class="d-flex justify-content-cente w-100" style="max-width: 320px;">
      <div class="border-top border-start border-end border-bottom rounded-3 p-3 w-100">
        <h5 class="mb-3 text-light">Select a year for the report</h5>
    
        <select class="form-select dark-select" id="year-select">
            {% for year in years %}    
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
</div>

<div class="border rounded-3 w-100 p-2">
    <h3 class="text-center">Yearly Total All Models</h3>

    <div class="chart-container">
        <canvas id="yearly-stats-all-models"></canvas>
    </div>
</div>

<div class="table-responsive border rounded-3 my-2">
    <table id="yearly-report-table" class="table table-hover table-bordered text-start">
        
    </table>
</div>


<input type="hidden" name="" id="yearly-stats-all-models-endpoint" value="{{ url_for('stats.yearly_all_model_reports' ) }}">
<input type="hidden" name="" id="yearly-incomes-and-outgoings-endpoint" value="{{ url_for('stats.yearly_incomes_and_outgoings' ) }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/scripts/home/stats.js"></script>
{% endblock %}