{% extends 'layout.html' %}

{% block title %}
    {{bank_account.nick_name}}
{% endblock %}

{% block content %}

    <section class="modal fade" tabindex="-1" id="edit-bank-transfer">
        <form id="edit-bank-transfer-form">
            <input type="hidden" name="transfer-id" id="transfer-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title fw-bold" id="">Bank Transfer (EDIT)</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="" class="fs-5 fw-bold" id="t-title-id">From: {{ bank_account.nick_name }} </label>
                        <div class="row">
                            <div class="form-floating mt-2">
                                <input type="text" name="amount" id="t-amount-id" class="form-control"
                                    placeholder="Amount" required>
                                <label for="t-amount-id" class="mx-2">Amount</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <select name="to-bank-account-select" id="to-bank-account-select-id" class="form-select">
                                        <option value="none">...select...</option>
                                        {% for account in all_bank_accounts %}
                                            {% if account.id != bank_account.id %}    
                                                <option value="{{ account.id }}">{{ account.nick_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="to-bank-account-select-id" class="ml-2">Destination</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-edit-bank-transfer">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <h3>{{ bank_account.nick_name }}</h3>
    <a href="{{ url_for('bank_account.index') }}" class="btn btn-light fs-5"><i class="bi bi-arrow-return-left"></i> Go back</a>

    <div class="my-3 border rounded-3">
        <div class="rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px; background-color: #992784;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Transfers</h4>
            </div>
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-transfer" id="filter-input-transfer-id" class="form-control"
                    placeholder="Search...">
            </div>
        </div>
        <div id="transfer-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-start" id="expenses-table">
                <thead class="sticky-top" >
                    <tr class="table-danger">
                        <th scope="col"># Id</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Origin</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Create at</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="transfer-table-body">
                    {% for transfer in banktransfers %}                
                    <tr>
                        <th scope="row">{{ transfer.id }}</th>
                        <td>
                            {% if transfer.to_bank_account.id == bank_account.id %}
                                <p class="fs-6 text-primary">{{ format_amount(transfer.amount) }}</p>
                            {% else %}
                                <p class="fs-6 text-danger">{{ format_amount(transfer.amount) }}</p> 
                            {% endif %}
                        </td>                        
                        <td>{{ '.' if transfer.from_bank_account.id == bank_account.id else transfer.from_bank_account.nick_name }}</td>
                        <td>{{ '.' if transfer.to_bank_account.id == bank_account.id else transfer.to_bank_account.nick_name }}</td>
                        <td>{{ transfer.created_at }}</td>
                        <td>
                            {% if transfer.from_bank_account_id == bank_account.id %}
                                <div class="d-flex gap-2">
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-success"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edit-bank-transfer"
                                        data-transfer-id="{{ transfer.id }}"
                                        data-amount="{{ transfer.amount }}"
                                        data-to-bank-account-id="{{ transfer.to_bank_account_id }}"
                                        data-nick-name="{{ bank_account.nick_name }}"
                                        data-update-endpoint = "{{ url_for('banktransfer.update', id=transfer.id ) }}"
                                    >
                                        <i class="bi bi-pen"></i>
                                    </button>
                                    <a href="{{ url_for('banktransfer.delete', id=transfer.id) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                </div> 
                            {% else %}
                                <p class="fs-6">Not Allowed</p>                               
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="p-2 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-transfers-id">TOTAL: {{ total_amount(banktransfers) }}</p>
                <p class="fs-6 fw-bold" id="total-count-transfers-id">RECORDS: {{ banktransfers | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px; background-color: #ff0000;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Expenses</h4>
            </div>
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-expense" id="filter-input-expense-id" class="form-control"
                    placeholder="Search...">
            </div>
        </div>
        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top" >
                    <tr class="table-danger">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col" class="text-start">Category</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="expenses-table-body">
                    {% for expense in bank_account.expenses %}                
                    <tr>
                        <th scope="row">{{ expense.id }}</th>
                        <td class="text-start">{{ format_amount(expense.amount) }}</td>
                        <td>{{ 'YES' if expense.is_cash else 'NO' }}</td>
                        <td class="text-start"> {{ expense.description or '-' }} </td>
                        <td>{{ expense.credit_card.nick_name or '-' }}</td>
                        <td>{{ expense.bank_account.nick_name }}</td>
                        <td class="text-start">{{ expense.expense_category.name }}</td>
                        <td>{{ expense.created_at }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="p-2 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-expenses-id">TOTAL: {{ total_amount(bank_account.expenses) }}</p>
                <p class="fs-6 fw-bold" id="total-count-expenses-id">RECORDS: {{ bank_account.expenses | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-primary rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Incomes</h4>
            </div>                
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-income" id="filter-input-income-id" class="form-control"placeholder="Search...">
            </div>
        </div>
        <div id="incomes-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center">
                <thead class="sticky-top">
                    <tr class="table-info">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody id="incomes-table-body">
                  {% for income in bank_account.incomes %}
                    <tr>
                        <th scope="row">{{ income.id }}</th>
                        <td class="text-start">{{ format_amount(income.amount) }}</td>
                        <td>{{ 'YES' if income.is_cash else 'NO' }}</td>
                        <td class="text-start">{{ income.description if income.description else '-'}}</td>
                        <td>{{ income.bank_account.nick_name }}</td>
                        <td>{{ income.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-incomes-id">TOTAL: {{ total_amount(bank_account.incomes) }}</p>
                <p class="fs-6 fw-bold" id="total-count-incomes-id">RECORDS: {{ bank_account.incomes | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px; background-color: #000000bb;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Withdrawals</h4>
            </div>                
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-withdrawal" id="filter-input-withdrawal-id" class="form-control"placeholder="Search...">
            </div>
        </div>

        <div class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center">
                <thead class="sticky-top">
                    <tr class="table-light" >
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody  id="withdrawals-table-body">
                  {% for withdrawal in bank_account.withdrawals %}
                    <tr>
                        <th scope="row">{{ withdrawal.id }}</th>
                        <td class="text-start">{{ format_amount(withdrawal.amount) }}</td>
                        <td class="text-start">{{ withdrawal.description if withdrawal.description else '-'}}</td>
                        <td>{{ withdrawal.bank_account.nick_name }}</td>
                        <td>{{ withdrawal.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-withdrawal-id">TOTAL: {{ total_amount(bank_account.withdrawals) }}</p>
                <p class="fs-6 fw-bold" id="total-count-withdrawal-id">RECORDS: {{ bank_account.withdrawals | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-warning rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px; color: #4a3b00;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Loans</h4>
            </div>                
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-loan" id="filter-input-loan-id" class="form-control"placeholder="Search...">
            </div>
        </div>
        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless text-center  table-hover">
                <thead class="sticky-top">
                    <tr class="table-warning">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col">Name</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody id="loans-table-body">
                  {% for loan in bank_account.loans %}
                    <tr class="loan-row" data-loan-id="{{ loan.id }}" data-url-associated-records = "{{ url_for('accounts_receivable.associated_records', loan_id=loan.id) }}">
                        <th scope="row">{{ loan.id }}</th>
                        <td class="text-start">{{ format_amount(loan.amount) }}</td>
                        <td>{{ 'YES' if loan.is_cash else 'NO'  }}</td>
                        <td>{{ loan.person_name }}</td>
                        <td> {{ loan.remaining_amount() }} </td>
                        <td>{{ 'ACTIVE' if loan.is_active else 'PAID'  }}</td>
                        <td class="text-start">{{ loan.description }}</td>
                        <td>{{ loan.bank_account.nick_name }}</td>
                        <td>{{ loan.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-loans-id">TOTAL: {{ total_amount(bank_account.loans) }}</p>
                <p class="fs-6 fw-bold" id="total-count-loans-id">RECORDS: {{ bank_account.loans | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-success rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Loan Payments</h4>
            </div>                
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-loan-payment" id="filter-input-loan-payment-id" class="form-control"placeholder="Search...">
            </div>
        </div>

        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top">
                    <tr class="table-success">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="loan-payment-table-body">
                    {% for payment in bank_account.loan_payments %}                
                    <tr>
                        <th scope="row">{{ payment.id }}</th>
                        <td class="text-start">{{ format_amount(payment.amount) }}</td>
                        <td>{{ 'YES' if payment.is_cash else 'NO' }}</td>
                        <td>{{ payment.bank_account.nick_name }}</td>
                        <td>{{ payment.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-loans-payments-id">TOTAL: {{ total_amount(bank_account.loan_payments) }}</p>
                <p class="fs-6 fw-bold" id="total-count-loans-payments-id">RECORDS: {{ bank_account.loan_payments | length }}</p>
            </div>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-secondary rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Credit Card Payments</h4>
            </div>                
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-credit-card-payment" id="filter-input-credit-card-payment-id" class="form-control"placeholder="Search...">
            </div>
        </div>

        <div id="payments-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top">
                    <tr class="table-secondary">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="credit-card-payment-table-body">
                    {% for payment in bank_account.credit_card_payments %}                
                    <tr>
                        <th scope="row">{{ payment.id }}</th>
                        <td class="text-start">{{ format_amount(payment.amount) }}</td>
                        <td>{{ payment.credit_card.nick_name or '-' }}</td>
                        <td>{{ payment.bank_account.nick_name or '-' }}</td>
                        <td>{{ payment.created_at }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <div class="row text-center">
                <p class="fs-6 fw-bold" id="total-amounts-credit-card-payments-id">TOTAL: {{ total_amount(bank_account.credit_card_payments) }}</p>
                <p class="fs-6 fw-bold" id="total-count-credit-card-payments-id">RECORDS: {{ bank_account.credit_card_payments | length }}</p>
            </div>
        </div>
    </div>

    <p id="associated-records-url-id" class="d-none">{{ url_for('bank_account.get_associated_records_in_json', bank_account_id=bank_account.id) }}</p>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/bank_accounts/dynamicTables.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/bank_accounts/scriptsForAssociatedRecords.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/utils/numericHandling.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/utils/asyncHanlding.js' ) }}"></script>
{% endblock %}
