{% extends 'layout.html' %}

{% block title %}
    {{bank_account.nick_name}}
{% endblock %}

{% block content %}
    <h3>{{ bank_account.nick_name }}</h3>
    <a href="{{ url_for('bank_account.index') }}" class="btn btn-light fs-5"><i class="bi bi-arrow-return-left"></i> Go back</a>

    <div class="my-3 border rounded-3">
        <div class=" rounded-top d-flex align-items-center justify-content-center p-2" style="height: 50px; background-color: #ff0000;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Expenses</h4>
            </div>
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-expense" id="filter-input-expense-id" class="form-control"
                    placeholder="Search...">
            </div>

        </div>
        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top" >
                    <tr class="table-danger">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col" class="text-start">Category</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="expenses-table-body">
                    {% for expense in bank_account.expenses %}                
                    <tr>
                        <th scope="row">{{ expense.id }}</th>
                        <td class="text-start">{{ format_amount(expense.amount) }}</td>
                        <td>{{ 'YES' if expense.is_cash else 'NO' }}</td>
                        <td class="text-start"> {{ expense.description or '-' }} </td>
                        <td>{{ expense.credit_card.nick_name or '-' }}</td>
                        <td>{{ expense.bank_account.nick_name }}</td>
                        <td class="text-start">{{ expense.expense_category.name }}</td>
                        <td>{{ expense.created_at }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold" id="total-amounts-expenses-id">TOTAL: {{ total_amount(bank_account.expenses) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-primary rounded-top d-flex align-items-center justify-content-center" style="height: 50px;">
            <h4 class="d-flex justify-content-center">Incomes</h4>
        </div>
        <div id="incomes-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center">
                <thead class="sticky-top">
                    <tr class="table-info">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody id="incomes-table-body">
                  {% for income in bank_account.incomes %}
                    <tr>
                        <th scope="row">{{ income.id }}</th>
                        <td class="text-start">{{ format_amount(income.amount) }}</td>
                        <td>{{ 'YES' if income.is_cash else 'NO' }}</td>
                        <td class="text-start">{{ income.description if income.description else '-'}}</td>
                        <td>{{ income.bank_account.nick_name }}</td>
                        <td>{{ income.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold">TOTAL: {{ total_amount(bank_account.incomes) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="rounded-top d-flex align-items-center justify-content-center" style="height: 50px; background-color: #000000bb;">
            <h4 class="d-flex justify-content-center">Withdrawals</h4>
        </div>

        <div class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center">
                <thead class="sticky-top">
                    <tr class="table-light" >
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody  id="withdrawals-table-body">
                  {% for withdrawal in bank_account.withdrawals %}
                    <tr>
                        <th scope="row">{{ withdrawal.id }}</th>
                        <td class="text-start">{{ format_amount(withdrawal.amount) }}</td>
                        <td class="text-start">{{ withdrawal.description if withdrawal.description else '-'}}</td>
                        <td>{{ withdrawal.bank_account.nick_name }}</td>
                        <td>{{ withdrawal.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold mx-2">TOTAL: {{ total_amount(bank_account.withdrawals) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-warning rounded-top d-flex align-items-center justify-content-center" style="height: 50px; color: #4a3b00;">
            <h4 class="d-flex justify-content-center fw-bold">Loans</h4>
        </div>
        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless text-center  table-hover">
                <thead class="sticky-top">
                    <tr class="table-warning">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col">Name</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                
                <tbody id="loans-table-body">
                  {% for loan in bank_account.loans %}
                    <tr class="loan-row" data-loan-id="{{ loan.id }}" data-url-associated-records = "{{ url_for('accounts_receivable.associated_records', loan_id=loan.id) }}">
                        <th scope="row">{{ loan.id }}</th>
                        <td class="text-start">{{ format_amount(loan.amount) }}</td>
                        <td>{{ 'YES' if loan.is_cash else 'NO'  }}</td>
                        <td>{{ loan.person_name }}</td>
                        <td> {{ loan.remaining_amount() }} </td>
                        <td>{{ 'ACTIVE' if loan.is_active else 'PAID'  }}</td>
                        <td class="text-start">{{ loan.description }}</td>
                        <td>{{ loan.bank_account.nick_name }}</td>
                        <td>{{ loan.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold mx-2">TOTAL: {{ total_amount(bank_account.loans) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-success rounded-top d-flex align-items-center justify-content-center" style="height: 50px;">
            <h4 class="d-flex justify-content-center">Loan Payments</h4>
        </div>

        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top">
                    <tr class="table-success">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="loan-payment-table-body">
                    {% for payment in bank_account.loan_payments %}                
                    <tr>
                        <th scope="row">{{ payment.id }}</th>
                        <td class="text-start">{{ format_amount(payment.amount) }}</td>
                        <td>{{ 'YES' if payment.is_cash else 'NO' }}</td>
                        <td>{{ payment.bank_account.nick_name }}</td>
                        <td>{{ payment.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold mx-2">TOTAL: {{ total_amount(bank_account.loan_payments) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-secondary rounded-top d-flex align-items-center justify-content-center" style="height: 50px;">
            <h4 class="d-flex justify-content-center">Credit Card Payments</h4>
        </div>

            <div id="payments-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
                <table class="table table-borderless table-hover text-center" id="expenses-table">
                    <thead class="sticky-top">
                        <tr class="table-secondary">
                            <th scope="col"># Id</th>
                            <th scope="col" class="text-start">Amount</th>
                            <th scope="col">Credit Card</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">Create at</th>
                        </tr>
                    </thead>
                    <tbody id="credit-card-payment-table-body">
                        {% for payment in bank_account.credit_card_payments %}                
                        <tr>
                            <th scope="row">{{ payment.id }}</th>
                            <td class="text-start">{{ format_amount(payment.amount) }}</td>
                            <td>{{ payment.credit_card.nick_name or '-' }}</td>
                            <td>{{ payment.bank_account.nick_name or '-' }}</td>
                            <td>{{ payment.created_at }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold mx-2">TOTAL: {{ total_amount(bank_account.credit_card_payments) }}</p>
        </div>
    </div>

    <p id="associated-records-url-id" class="d-none">{{ url_for('bank_account.get_associated_records_in_json', bank_account_id=bank_account.id) }}</p>
    <script src="{{ url_for('static', filename='scripts/bank_accounts/dynamicTables.js') }}"></script>
{% endblock %}
