.filter_link {
    text-decoration: none;
    color: inherit;
}

.filter_link:hover{
    text-decoration: underline;
    color: rgb(39, 125, 255);
    cursor: pointer;
}

.chart-container {
    height: 457px; /* same as table max-height */
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}
