{% extends 'layout.html' %}

{% block title %}Accounts Payable{% endblock %}

{% block content %}

    <div class=" w-100">

        <h2>Accounts Payable</h2>
        <section class="modal fade" tabindex="-1" id="create-account-payable">
            <form id="create-account-payable-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Accounts Payable</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <input type="text" name="person-name" id="person-name-id" class="form-control"
                                        placeholder="Person Name" required>
                                    <label for="amount-id" class="p-3">Person Name</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="description-id" class="p-3">Description</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="createDebt()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="modal fade" tabindex="-1" id="edit-account-payable">
            <form id="edit-account-payable-form">
                <input type="hidden" name="debt_id" id="e-debt-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="e-amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="e-is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <input type="text" name="person-name" id="e-person-name-id" class="form-control"
                                        placeholder="Person Name" required>
                                    <label for="amount-id" class="p-3">Person Name</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="e-description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="description-id" class="p-3">Description</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="e-select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-submit-edition" onclick="editIncome()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="modal fade" tabindex="-1" id="pay-account-payable">
            <form id="pay-account-payable-form">
                <input type="hidden" name="debt-id" id="p-debt-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Make a payment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="p-amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="p-is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="p-select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="makePayment()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <div class="w-100">
            <div class="d-flex justify-content-start gap-1 flex-wrap flex-md-nowrap">
                <button type="button" 
                        class="btn btn-outline-primary me-auto me-md-auto w-100 w-md-auto" 
                        style="max-width: 200px;"
                        data-bs-toggle="modal" 
                        data-bs-target="#create-account-payable">
                    New Account Payable
                </button>
                <div class="d-flex gap-1 w-100 align-items-center" style="max-width: 320px;">
                    <div class="w-md-auto mt-md-0">
                        <label for="" class="fs-6 fw-bold">Filter by: </label>
                    </div>
                    <div class="w-100 w-md-auto mt-md-0" style="max-width: 250px;">
                        <select class="form-select" id="select-filter-type-id">
                            <option value="field">Field</option>
                            <option value="time">Time</option>
                        </select>
                    </div>
                </div>
    
                <div class="d-flex gap-1 w-100" style="max-width: 350px;">
                    <div class="w-100 w-md-auto mt-md-0">
                        <input type="text" class="form-control" id="filter-input-id">
                    </div>
                    <button type="button" class="btn btn-outline-success" id="btn-search-id"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>

        <div class="table-responsive overflow-y-auto border rounded-3 mt-2" style="max-height: 457px;">
            <table class="table table-striped  table-hover">
                <thead class="sticky-top">
                    <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remaining</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                    <th scope="col">Is Cash</th>
                    <th scope="col">Bank Account</th>
                    <th scope="col">Create at</th>
                    <th scope="col">Acctions</th>
                    </tr>
                </thead>
                
                <tbody id="debt-table-body-id">
                  {% for debt in debts %}
                    <tr class="debt-row" data-debt-id="{{ debt.id }}" data-url-associated-records = "{{ url_for('debt.associated_records', id=debt.id ) }}">
                        <th scope="row">{{ debt.id }}</th>
                        <td>{{ debt.person_name }}</td>
                        <td>{{ format_amount(debt.amount) }}</td>
                        <td> {{ format_amount(debt.remaining_amount()) }} </td>
                        <td>{{ 'ACTIVE' if debt.is_active else 'PAID'  }}</td>
                        <td>{{ debt.description }}</td>
                        <td>{{ 'YES' if debt.is_cash else 'NO'  }}</td>
                        <td>{{ debt.bank_account.nick_name if debt.bank_account else '-' }}</td>
                        <td>{{ debt.created_at }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <button 
                                    id=""
                                    type="button"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#pay-account-payable"
                                    class="btn btn-outline-light" 
                                    data-debt-id="{{ debt.id }}"
                                >
                                    <i class="bi bi-cash-coin"></i>
                                </button>
                                <button 
                                    type="button" 
                                    class="btn btn-outline-success" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#edit-account-payable"
                                    data-debt-id="{{ debt.id }}"
                                    data-amount="{{ debt.amount }}"
                                    data-is-cash="{{ debt.is_cash }}"
                                    data-is-active="{{ debt.is_active }}"
                                    data-description="{{ debt.description }}"
                                    data-person-name="{{ debt.person_name }}"
                                    data-bank-account-id="{{ debt.bank_account_id }}"
                                >
                                    <i class="bi bi-pen"></i>
                                </button>
                                <a href="{{ url_for('debt.delete', id=debt.id ) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <section>
            <div class="d-flex flex-column">
                <div>
                    <label id="lbl-total">Total: ${{ total_amount(debts) }}</label>
                </div>
                <div class="row">
                    <div>
                        <label for="" id="paid-debts">Paid Debts: {{ paids }}</label>
                    </div>
                    <div>
                        <label for="" id="active-debts">Actives Debts: {{ actives }}</label>
                    </div>
                    <div>
                        <label for="" id="remaining">Remaining to Collect: ${{ format_amount(ramaining_to_pay) }}</label>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <input type="hidden" value="{{ url_for('debt.create') }}" id="createEndPoint">
    <input type="hidden" value="{{ url_for('debt_payment.create') }}" id="makePaymentEndPoint">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script>
<script src="{{ url_for('static', filename='scripts/accounts_payable/script.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/accounts_payable/filterData.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/numericHandling.js' ) }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/asyncHanlding.js' ) }}"></script>

<script> 
    document.addEventListener('DOMContentLoaded', () => {
        const createAccountPayableModal = document.getElementById('create-account-payable');
        const editAccountPayableModal = document.getElementById('edit-account-payable');
        const payAccountPayableModal = document.getElementById('pay-account-payable');

        function toggleBankAccount(checkbox, select){
            if(checkbox.checked) {
                select.disabled = checkbox.checked;
                select.value = "none";
            } else {
                select.disabled = checkbox.checked;
            }
        }
        function selectBankAccountOption(checkbox, select, event){
            if(!checkbox.checked && select.value == 'none') {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'No selected bank account',
                    text: 'If you transaction was not made in cash you must select a bank account.'
                });
                return;
            }
        }
        
        createAccountPayableModal.addEventListener('show.bs.modal', () => {
            const isCash = document.getElementById('is-cash-id');
            const bankAccountsSelect = document.getElementById('select-bank-account-id');

            toggleBankAccount(isCash, bankAccountsSelect);
            isCash.addEventListener('change', () => toggleBankAccount(isCash, bankAccountsSelect));
        });
        
        editAccountPayableModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget; //debt
            const btnSubmitEdition = document.getElementById('btn-submit-edition');
            const editAccountPayableForm = document.getElementById('edit-account-payable-form');
            const editIsCash = document.getElementById('e-is-cash-id');
            const editBankAccountsSelect = document.getElementById('e-select-bank-account-id');
            const editAmount = document.getElementById('e-amount');

            const oldIsCash = button.getAttribute('data-is-cash').toLowerCase() === 'true';
            const oldBankAccountId = button.getAttribute('data-bank-account-id');
            const oldAmount = button.getAttribute('data-amount');
            const debtId = button.getAttribute('data-debt-id');
            const isActive = button.getAttribute('data-is-active');
            const description = button.getAttribute('data-description');
            const personName = button.getAttribute('data-person-name');

            document.getElementById('e-amount-id').value = oldAmount;
            document.getElementById('e-is-cash-id').checked = oldIsCash;
            document.getElementById('e-debt-id').value = debtId; //loan
            document.getElementById('e-select-bank-account-id').value = oldBankAccountId; //If on the db its value it's Null flask will convert it into 'None' which the browser interprets it as String value in js
            if(oldBankAccountId === 'None') {
                document.getElementById('e-select-bank-account-id').value = 'none';
            }
            document.getElementById('e-person-name-id').value = personName;
            document.getElementById('e-description-id').value = description;
            
            toggleBankAccount(editIsCash, editBankAccountsSelect);
            editIsCash.addEventListener('change', () => toggleBankAccount(editIsCash, editBankAccountsSelect));

            editAccountPayableForm.addEventListener('submit', (event) => {
                selectBankAccountOption(editIsCash, editBankAccountsSelect, event);
            });

        });
        
        payAccountPayableModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;
            const loanId = button.getAttribute('data-debt-id');
            document.getElementById('p-debt-id').value = loanId; //Set the loan id to the hidden input so backend can process it as part of the form
            const isCash = document.getElementById('p-is-cash-id');
            const bankAccountsSelect = document.getElementById('p-select-bank-account-id');

            toggleBankAccount(isCash, bankAccountsSelect);
            isCash.addEventListener('change', () => toggleBankAccount(isCash, bankAccountsSelect));
        });
    })
</script>
<script>
    async function createDebt(){
        const createEndPoint = document.getElementById('createEndPoint').value;
        const form = document.getElementById('create-account-payable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(createEndPoint, {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            if(!response.ok){
                console.log(response.json());
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the income.'
                });
                return;
            }
            location.reload();//Reload the current page to see the new added income
        
        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }        
    }

    async function editIncome(){
        const loanId = document.getElementById('e-debt-id').value;
        const form = document.getElementById('edit-account-payable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(`/debts/update/${loanId}`, {
                method: 'PUT',
                body: formData,
            });

            const data = await response.json();

            if(!response.ok){
                console.log(response.json())
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the expense.'
                });
                return;
            }

            location.reload();

        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }
    }

    async function makePayment(){
        const createEndPoint = document.getElementById('makePaymentEndPoint').value;

        const form = document.getElementById('pay-account-payable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(createEndPoint, {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            console.log(data);

            if(!response.ok){
                console.log(response.json());
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the loan.'
                });
                return;
            }

            if(data.is_paid === true){
                console.log(data);
                Swal.fire({
                    icon: 'success',
                    title: data.message || 'The loan has been fully paid.'
                });
                return;
            }

            location.reload();//Reload the current page to see the new added income
        
        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }
    }
</script>
{% endblock %}