{% extends 'layout.html' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <h2>Expenses</h2>
    <section class="modal fade" tabindex="-1" id="create-expense">
        <form action="{{ url_for('expense.create' ) }}" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <input type="text" name="amount" id="amount-id" class="form-control"
                                        placeholder="Amount" required>
                                    <label for="amount-id">Amount</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" name="is-cash" id="checkNativeSwitch" switch checked>
                                    <label class="form-check-label" for="checkNativeSwitch">
                                        Cash
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mt-2">
                                <select name="select-expense-category" id="select-expense-category-id" class="form-select">
                                    {% for category in expense_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="select-expense-category-id" class="p-3">Category</label>
                            </div>
                        </div>

                        <div class="row" id="bank-products-id">
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <select name="select-credit-card" id="select-credit-card-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for cc in credit_cards %}
                                        <option value="{{ cc.id }}">{{ cc.nick_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="select-credit-card-id" class="p-3">Credit Card</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="modal fade" tabindex="-1" id="edit-expense">
        <form action="{{ url_for('expense.update' ) }}" method="POST">
            <input type="hidden" name="id" id="e-expense-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <input type="text" name="amount" id="e-amount-id" class="form-control"
                                        placeholder="Amount" required>
                                    <label for="e-amount-id">Amount</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" name="is-cash" id="e-checkNativeSwitch" switch checked>
                                    <label class="form-check-label" for="e-checkNativeSwitch">
                                        Cash
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mt-2">
                                <select name="select-expense-category" id="e-select-expense-category-id" class="form-select">
                                    {% for category in expense_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="e-select-expense-category-id" class="p-3">Category</label>
                            </div>
                        </div>

                        <div class="row" id="e-bank-products-id">
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <select name="select-credit-card" id="e-select-credit-card-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for cc in credit_cards %}
                                        <option value="{{ cc.id }}">{{ cc.nick_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-credit-card-id" class="p-3">Credit Card</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="e-select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create-expense"
    id="btn-create-expense-id">New Expense</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"># Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Is Cash</th>
                <th scope="col">Credit Card</th>
                <th scope="col">Bank Account</th>
                <th scope="col">Category</th>
                <th scope="col">Create at</th>
                <th scope="col">Acctions</th>
            </tr>
        </thead>

        <tbody>
            {% for expense in expenses %}                
            <tr>
                <th scope="row">{{ expense.id }}</th>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.is_cash }}</td>
                <td>{{ expense.credit_card.nick_name }}</td>
                <td>{{ expense.bank_account.nick_name }}</td>
                <td>{{ expense.expense_category.name }}</td>
                <td>{{ expense.created_at }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <button 
                            type="button" 
                            class="btn btn-success" 
                            data-bs-toggle="modal"
                            data-bs-target="#edit-expense" 
                            data-expense-id="{{ expense.id }}"
                            data-amount-id="{{ expense.amount }}"
                            data-is-cash="{{ expense.is_cash }}"
                            data-select-expense-category-id="{{ expense.expense_category_id }}"
                            data-select-credit-card-id="{{ expense.credit_card_id }}"
                            data-select-bank-account-id="{{ expense.bank_account_id }}"
                        >Edit
                        </button>
                        <form action="{{ url_for('expense.delete', id=expense.id) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cCheckbox = document.getElementById("checkNativeSwitch");
            const eCheckbox = document.getElementById("e-checkNativeSwitch");

            const cBankProducts = document.getElementById("bank-products-id");
            const eBankProducts = document.getElementById("e-bank-products-id");

            const createExpenseModal = document.getElementById("create-expense");
            const editExpenseModal = document.getElementById("edit-expense");

            function toggleBankProducts(checkbox, dynamicSection) {
                if (checkbox.checked) {
                    dynamicSection.classList.add("d-none");
                } else {
                    dynamicSection.classList.remove("d-none");
                }
            }
            function editableAndDisableSelects(editableSelect, disableSelect){
                if (editableSelect.value != "none") {
                    disableSelect.disabled = true;
                    disableSelect.value = "none";
                } else {
                    disableSelect.disabled = false;                      
                }
            }
            createExpenseModal.addEventListener("show.bs.modal", () => { 
                cCheckbox.checked = true; //Cash check box will be true everytime you open the modal
                toggleBankProducts(cCheckbox, cBankProducts); //Run the function when the modal content is loaded

                cCheckbox.addEventListener("change", () => toggleBankProducts(cCheckbox, cBankProducts));

                const cSelectBankAccounts = document.getElementById("select-bank-account-id");
                const cSelectCreditCards = document.getElementById("select-credit-card-id");

                cSelectBankAccounts.value = "none";
                cSelectCreditCards.value = "none";

                cSelectBankAccounts.disabled = false;
                cSelectCreditCards.disabled = false;

                cSelectBankAccounts.addEventListener("change", () => {
                    editableAndDisableSelects(cSelectBankAccounts, cSelectCreditCards);
                });
                cSelectCreditCards.addEventListener("change", () => {
                    editableAndDisableSelects(cSelectCreditCards, cSelectBankAccounts);
                });
            });
            editExpenseModal.addEventListener("show.bs.modal", () => {
                const eSelectBankAccounts = document.getElementById("e-select-bank-account-id");
                const eSelectCreditCards = document.getElementById("e-select-credit-card-id");

                const button = event.relatedTarget;
                
                const expenseId = button.getAttribute("data-expense-id");
                const amount = button.getAttribute("data-amount-id");
                const isCash = button.getAttribute("data-is-cash") === "True";
                const expenseCategoryId = button.getAttribute("data-select-expense-category-id");
                const creditCardId = button.getAttribute("data-select-credit-card-id");
                const bankAccountId = button.getAttribute("data-select-bank-account-id");

                document.getElementById("e-expense-id").value = expenseId;
                document.getElementById("e-amount-id").value = amount;
                document.getElementById("e-select-expense-category-id").value = expenseCategoryId;
                eCheckbox.checked = isCash;
                eSelectCreditCards.value = (creditCardId === "None") ? "none" : creditCardId;
                eSelectBankAccounts.value = (bankAccountId === "None") ? "none" : bankAccountId;


                if(isCash){
                    eSelectBankAccounts.value = "none";
                    eSelectCreditCards.value = "none";
                }
                toggleBankProducts(eCheckbox, eBankProducts);//This whether will or won't show bank products's section on edit modal when I first click on edit
                eCheckbox.addEventListener("change", () => {
                    toggleBankProducts(eCheckbox, eBankProducts);//This will make appear or disappear bank products's section on edit modal when I click on the switch
                });
                
                
                console.log(`value of BA: <${bankAccountId}> and is type of ${typeof(bankAccountId)}`)
                console.log(`value of CC: <${creditCardId}> and is type of ${typeof(creditCardId)}`)
                mytest = "";
                console.log(`value of test: <${mytest}> and is type of ${typeof(eSelectCreditCards.value)}`)

                eSelectBankAccounts.addEventListener("change", () => {
                    /*if (eSelectBankAccounts.value != "none") {
                        eSelectCreditCards.disabled = true;
                        eSelectCreditCards.value = "none";
                    } else {
                        eSelectCreditCards.disabled = false;                      
                    }*/

                    editableAndDisableSelects(eSelectBankAccounts, eSelectCreditCards);
                });
                eSelectCreditCards.addEventListener("change", () => {
                    editableAndDisableSelects(eSelectCreditCards, eSelectBankAccounts);
                });
            });
        })
    </script>
{% endblock %}