{% extends 'layout.html' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class=" w-100">
        <h2>Expenses</h2>
        <section class="modal fade" tabindex="-1" id="create-expense">
            <form id="create-expense-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Expense</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="checkNativeSwitch" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <select name="select-expense-category" id="select-expense-category-id" class="form-select">
                                        {% for category in expense_categories %}
                                        <option value="{{ category.id }}">{{ category.name.lower().title() }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="select-expense-category-id" class="p-3">Category</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="description-id" class="p-3">Description</label>
                                </div>
                            </div>

                            <div class="row" id="bank-products-id">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <select name="select-credit-card" id="select-credit-card-id" class="form-select">
                                            <option value="none">...Select...</option>
                                            {% for cc in credit_cards %}
                                            <option value="{{ cc.id }}">{{ cc.nick_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="select-credit-card-id" class="p-3">Credit Card</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <select name="select-bank-account" id="select-bank-account-id" class="form-select">
                                            <option value="none">...Select...</option>
                                            {% for ba in bank_accounts %}
                                            <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                            {% endfor %}
                                        </select>
                                        <label for="select-bank-account-id" class="p-3">Bank Account</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="createExpense()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="modal fade" tabindex="-1" id="edit-expense">
            <form id="edit-expense-form">
                <input type="hidden" name="id" id="e-expense-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="e-amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="e-amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="e-checkNativeSwitch" switch checked>
                                        <label class="form-check-label" for="e-checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <select name="select-expense-category" id="e-select-expense-category-id" class="form-select">
                                        {% for category in expense_categories %}
                                        <option value="{{ category.id }}">{{ category.name.lower().title() }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-expense-category-id" class="p-3">Category</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="e-description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="e-description-id" class="p-3">Description</label>
                                </div>
                            </div>

                            <div class="row" id="e-bank-products-id">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <select name="select-credit-card" id="e-select-credit-card-id" class="form-select">
                                            <option value="none">...Select...</option>
                                            {% for cc in credit_cards %}
                                            <option value="{{ cc.id }}">{{ cc.nick_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="e-select-credit-card-id" class="p-3">Credit Card</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <select name="select-bank-account" id="e-select-bank-account-id" class="form-select">
                                            <option value="none">...Select...</option>
                                            {% for ba in bank_accounts %}
                                            <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                            {% endfor %}
                                        </select>
                                        <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="editExpense()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <div class="d-flex justify-content-start gap-1 flex-wrap flex-md-nowrap mt-2">
            <button 
                type="button"
                id="btn-create-expense-id"
                class="btn btn-outline-primary me-auto me-md-auto w-100 w-md-auto" 
                style="max-width: 200px;"
                data-bs-toggle="modal"
                data-bs-target="#create-expense"
            >New expense
            </button>
            <div class="d-flex gap-1 w-100 align-items-center" style="max-width: 320px;">
                <div class="w-100 w-md-auto mt-md-0" style="max-width: 320px;">
                    <input type="text" class="form-control" id="filter-byfiled-input-id" placeholder="Enter some text...">
                </div>
            </div>
            <div class="d-flex gap-1 w-100" style="max-width: 350px;">
                <div class="w-100 w-md-auto mt-md-0">
                    <input type="text" class="form-control" id="filter-bytime-input-id" placeholder="Select a time frame">
                </div>
                <button type="button" class="btn btn-outline-success" id="btn-search-id"><i class="bi bi-search"></i></button>
            </div>
        </div>

        <div class="table-responsive overflow-y-auto border rounded-3 mt-1" style="max-height: 457px;">
            <table class="table table-striped table-hover" id="expenses-table">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col"># Id</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col">Description</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col">Category</th>
                        <th scope="col">Create at</th>
                        <th scope="col">Acctions</th>
                    </tr>
                </thead>
                <tbody id="expenses-table-body">
                    {% for expense in expenses %}                
                    <tr>
                        <th scope="row">{{ expense.id }}</th>
                        <td>{{ format_amount(expense.amount) or '-' }}</td>
                        <td><a id="filter-by-cash" class="filter_link" data-is-cash-value="{{ expense.is_cash }}">{{ 'YES' if expense.is_cash else 'NO' }}</a></td>
                        <td> {{ expense.description or '-' }} </td>
                        <td>{{ expense.credit_card.nick_name or '-' }}</td>
                        <td>{{ expense.bank_account.nick_name or '-' }}</td>
                        <td>{{ expense.expense_category.name.lower().title() or '-' }}</td>
                        <td>{{ expense.created_at | format_datetime("EEE, dd MMM yyyy hh:mm a") }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <button 
                                    type="button" 
                                    class="btn btn-outline-success" 
                                    data-bs-toggle="modal"
                                    data-bs-target="#edit-expense" 
                                    data-expense-id="{{ expense.id }}"
                                    data-amount-id="{{ expense.amount }}"
                                    data-is-cash="{{ expense.is_cash }}"
                                    data-select-expense-category-id="{{ expense.expense_category_id }}"
                                    data-select-credit-card-id="{{ expense.credit_card_id }}"
                                    data-select-bank-account-id="{{ expense.bank_account_id }}"
                                    data-description="{{ expense.description }}"
                                >
                                    <i class="bi bi-pen"></i>
                                </button>
                                <a href="{{ url_for('expense.delete', id=expense.id) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <section>
            <div class="d-flex flex-column">
                <div>
                    <label for="" id="monthly-total-id">Total: ${{ total_amount(expenses) }}</label>
                    <br>
                    <label for="" id="weekly-title">MONTHLY BASIS </label>
                </div>
                <div class="d-flex gap-2">
                    <div>
                        <label for="" id="monthly-limit">Limit: {{ format_amount(monthly.limit) }}</label>
                    </div>
                    <div>
                        <label for="" id="monthly-spent">Spent: {{ format_amount(monthly.spent) }}</label>
                    </div>
                    <div>
                        <label for="" id="monthly-left">Left: {{ format_amount(monthly.left) }}</label>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="stats-container">
        <div class="d-flex justify-content-center my-2">
            <div class="d-flex justify-content-cente w-100" style="max-width: 320px;">
            <div class="border-top border-start border-end border-bottom rounded-3 p-3 w-100">
                <h5 class="mb-3 text-light">Select a year for the report</h5>
            
                <select class="form-select dark-select" id="year-select">
                    {% for year in years %}    
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        </div>

        <div class="border rounded-3 w-100 p-2">
            <h3 class="text-center" id="chart-title">Expense Stats</h3>

            <div class="chart-container">
                <canvas id="yearly-stats"></canvas>
            </div>
        </div>
    </div>

    <input type="hidden" name="" id="filter-data-endpoint" value="{{ url_for('expense.filter_all' ) }}">
    <input type="hidden" name="" id="yearly-single-model-report-endpoint" value="{{ url_for('stats.yearly_single_model_report' ) }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/expenses/filterData.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/expenses/stats.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/utils/numericHandling.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/utils/asyncHanlding.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/utils/generateChart.js' ) }}"></script>
    <script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cCheckbox = document.getElementById("checkNativeSwitch");
            const eCheckbox = document.getElementById("e-checkNativeSwitch");

            const cBankProducts = document.getElementById("bank-products-id");
            const eBankProducts = document.getElementById("e-bank-products-id");

            const createExpenseModal = document.getElementById("create-expense");
            const editExpenseModal = document.getElementById("edit-expense");

            function toggleBankProducts(checkbox, dynamicSection) {
                if (checkbox.checked) {
                    dynamicSection.classList.add("d-none");
                } else {
                    dynamicSection.classList.remove("d-none");
                }
            }
            function editableAndDisableSelects(editableSelect, disableSelect){
                if (editableSelect.value != "none") {
                    disableSelect.disabled = true;
                    disableSelect.value = "none";
                } else {
                    disableSelect.disabled = false;                      
                }
            }
            createExpenseModal.addEventListener("show.bs.modal", () => { 
                cCheckbox.checked = true; //Cash check box will be true everytime you open the modal
                toggleBankProducts(cCheckbox, cBankProducts); //Run the function when the modal content is loaded

                cCheckbox.addEventListener("change", () => toggleBankProducts(cCheckbox, cBankProducts));

                const cSelectBankAccounts = document.getElementById("select-bank-account-id");
                const cSelectCreditCards = document.getElementById("select-credit-card-id");

                cSelectBankAccounts.value = "none";
                cSelectCreditCards.value = "none";

                cSelectBankAccounts.disabled = false;
                cSelectCreditCards.disabled = false;

                cSelectBankAccounts.addEventListener("change", () => {
                    editableAndDisableSelects(cSelectBankAccounts, cSelectCreditCards);
                });
                cSelectCreditCards.addEventListener("change", () => {
                    editableAndDisableSelects(cSelectCreditCards, cSelectBankAccounts);
                });
            });
            editExpenseModal.addEventListener("show.bs.modal", () => {
                const eSelectBankAccounts = document.getElementById("e-select-bank-account-id");
                const eSelectCreditCards = document.getElementById("e-select-credit-card-id");

                const button = event.relatedTarget;
                
                const expenseId = button.getAttribute("data-expense-id");
                const amount = button.getAttribute("data-amount-id");
                const isCash = button.getAttribute("data-is-cash").toLowerCase() === "true";
                const expenseCategoryId = button.getAttribute("data-select-expense-category-id");
                const creditCardId = button.getAttribute("data-select-credit-card-id");
                const bankAccountId = button.getAttribute("data-select-bank-account-id");
                const description = button.getAttribute("data-description");

                document.getElementById("e-expense-id").value = expenseId;
                document.getElementById("e-amount-id").value = amount;
                document.getElementById("e-select-expense-category-id").value = expenseCategoryId;
                document.getElementById("e-description-id").value = description;
                eCheckbox.checked = isCash;
                eSelectCreditCards.value = (creditCardId === "None" || creditCardId === "null") ? "none" : creditCardId;
                eSelectBankAccounts.value = (bankAccountId === "None" || bankAccountId === "null") ? "none" : bankAccountId;

                if(isCash){
                    eSelectBankAccounts.value = "none";
                    eSelectCreditCards.value = "none";
                }
                toggleBankProducts(eCheckbox, eBankProducts);//This whether will or won't show bank products's section on edit modal when I first click on edit
                eCheckbox.addEventListener("change", () => {
                    toggleBankProducts(eCheckbox, eBankProducts);//This will make appear or disappear bank products's section on edit modal when I click on the switch
                });

                eSelectBankAccounts.addEventListener("change", () => editableAndDisableSelects(eSelectBankAccounts, eSelectCreditCards));
                eSelectCreditCards.addEventListener("change", () => editableAndDisableSelects(eSelectCreditCards, eSelectBankAccounts));

                //Will load the selected bank product enabled 
                eSelectCreditCards.disabled = (eSelectBankAccounts.value != 'none');
                eSelectBankAccounts.disabled = (eSelectCreditCards.value != 'none');

                console.log(`BA: <${bankAccountId}> => ${typeof bankAccountId}`)
                console.log(`CC <${creditCardId}> => ${typeof creditCardId}`)

                console.log(`BA: <${eSelectBankAccounts}> => ${typeof eSelectBankAccounts}`)
                console.log(`CC <${eSelectCreditCards}> => ${typeof eSelectCreditCards}`)
            });
        })
    </script>
    <script>
        function createExpense(){
            const form = document.getElementById('create-expense-form');
            const formData = new FormData(form);
            console.log(formData)
            fetch('/expenses/create', {
                method: 'POST',
                body: formData,
                headers: {'X-Requested-With': 'XMLHttpRequest'}
            })
            .then(async response => {
                const data = await response.json();//If the promise is resolved from fetch() it returns a response
                if(!response.ok) {
                    console.log(response.json())
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.error || 'Something went wrong while creating the expense.'
                    });
                    return;
                }
                location.reload();
            })
            .catch(async err => {
                console.error('Fetch error:', err);
                try {
                    //Getting the server exception http response
                    const res = err.response; //gets the raw http response from the server
                    const data = await res.json() //convert it to json
                    Swal.fire({
                        icon: 'error',
                        title: 'Server Error',
                        text: data.error || 'Unexpected error occurred.'
                    });
                } catch {
                    Swal.fire({
                        icon: 'error',
                        title: 'Network Error',
                        text: err.message || 'Could not connect to server.'
                    });
                }
            })
        }
    </script>
    <script>
        function editExpense(){
            const expenseId = document.getElementById('e-expense-id').value;
            const form = document.getElementById('edit-expense-form');
            const formData = new FormData(form);

            fetch(`/expenses/update/${expenseId}`, {
                method: 'PUT',
                body: formData,
                headers: {'X-Requested-With': 'XMLHttpRequest'}
            })
            .then(async response => {
                console.log(formData.get('is-cash'));
                const data = await response.json();
                if(!response.ok){
                    console.log(response.json());
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.error || 'Somethig went wrong while editing the expense.'
                    });
                    return;
                }
                location.reload();
            })
            .catch(async err => {
                console.error('Fetch error', err);
                try {
                    const res = err.response;
                    const data = await res.json();

                    Swal.fire({
                        icon: 'error',
                        title: 'Server Error',
                        text: data.error || 'Unexpected error occurred.'
                    });
                } catch {
                    Swal.fire({
                        icon: 'error', 
                        title: 'Network Error', 
                        text: err.message || 'Could not connect to server.'
                    });
                }
            });
        }
    </script>
{% endblock %}