{% extends 'layout.html' %}

{% block title %}
    Associated Records
{% endblock %}

{% block content %}
    <h3>Expenses</h3>
    <section class="modal fade" tabindex="-1" id="edit-credit-card-payment">
        <form id="edit-credit-card-payment-form">
            <input type="hidden" name="credit-card-payment-id" id="p-credit-card-payment-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="">
                                <div class="form-floating mt-2">
                                    <input type="text" name="amount" id="p-amount-id" class="form-control"
                                        placeholder="Amount" required>
                                    <label for="amount-id">Amount</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mt-2">
                                <select name="select-bank-account" id="p-select-bank-account-id" class="form-select">
                                    <option value="none">...Select...</option>
                                    {% for ba in bank_accounts %}
                                    <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                    {% endfor %}
                                </select>
                                <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="updateCreditCardPayment()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <a href="{{ url_for('credit_card.index') }}" class="btn btn-light fs-6"><i class="bi bi-arrow-return-left"></i> Go back</a>

    <div class="my-3 border rounded-3">
        <div class="rounded-top d-flex align-items-center justify-content-center p-2" style="height: 60px; background-color: #ff0000;">
            <div class="me-auto">
                <h4 class="d-flex justify-content-center">Expenses</h4>
            </div>
            <div class="w-100" style="max-width: 217px;">
                <input type="text" name="filter-input-expense" id="filter-input-expense-id" class="form-control"
                    placeholder="Search...">
            </div>
        </div>
        <div id="expenses-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
            <table class="table table-borderless table-hover text-center" id="expenses-table">
                <thead class="sticky-top" >
                    <tr class="table-danger">
                        <th scope="col"># Id</th>
                        <th scope="col" class="text-start">Amount</th>
                        <th scope="col">Is Cash</th>
                        <th scope="col" class="text-start">Description</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Bank Account</th>
                        <th scope="col" class="text-start">Category</th>
                        <th scope="col">Create at</th>
                    </tr>
                </thead>
                <tbody id="expenses-table-body">
                    {% for expense in credit_card.expenses %}                
                    <tr>
                        <th scope="row">{{ expense.id }}</th>
                        <td class="text-start">{{ format_amount(expense.amount) }}</td>
                        <td>{{ 'YES' if expense.is_cash else 'NO' }}</td>
                        <td class="text-start"> {{ expense.description or '-' }} </td>
                        <td>{{ expense.credit_card.nick_name or '-' }}</td>
                        <td>{{ expense.bank_account.nick_name }}</td>
                        <td class="text-start">{{ expense.expense_category.name }}</td>
                        <td>{{ expense.created_at }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold" id="total-amounts-expenses-id">TOTAL: {{ total_amount(credit_card.expenses) }}</p>
        </div>
    </div>

    <div class="my-5 border rounded-3">
        <div class="bg-success rounded-top d-flex align-items-center justify-content-center" style="height: 50px;">
            <h4 class="d-flex justify-content-center">Credit Card Payments</h4>
        </div>

            <div id="payments-table-container" class="table-responsive overflow-y-auto" style="max-height: 322px;">
                <table class="table table-borderless table-hover text-center" id="expenses-table">
                    <thead class="sticky-top">
                        <tr class="table-success">
                            <th scope="col"># Id</th>
                            <th scope="col" class="text-start">Amount</th>
                            <th scope="col">Credit Card</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">Create at</th>
                        </tr>
                    </thead>
                    <tbody id="payments-table-body">
                        {% for payment in credit_card.payments %}                
                        <tr>
                            <th scope="row">{{ payment.id }}</th>
                            <td class="text-start">{{ format_amount(payment.amount) }}</td>
                            <td>{{ payment.credit_card.nick_name or '-' }}</td>
                            <td>{{ payment.bank_account.nick_name or '-' }}</td>
                            <td>{{ payment.created_at }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        <div class="p-1 border rounded-end rounded-bottom w-100 d-flex justify-content-center align-items-center" style="max-width: 200px;">
            <p class="fs-6 fw-bold mx-2">TOTAL: {{ total_amount(credit_card.payments) }}</p>
        </div>
    </div>
    <p class="d-none" id="associated-records-endpoint-id">{{ url_for('credit_card.associated_records_in_json', id=credit_card.id ) }}</p>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script> 
    <script type="module" src="{{ url_for('static', filename='scripts/utils/dynamicTables.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/credit_cards/filterAssociatedRecords.js' ) }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', e => {
            const editCreditCardPaymentModal = document.getElementById('edit-credit-card-payment');
            editCreditCardPaymentModal.addEventListener('show.bs.modal', e => {
                const button = event.relatedTarget;

                const creditCardPaymentId = button.getAttribute('data-credit-card-payment-id');
                const oldAmount = button.getAttribute('data-amount');
                const oldBankAccountId = button.getAttribute('data-bank-account-id');

                document.getElementById('p-credit-card-payment-id').value = creditCardPaymentId;
                document.getElementById('p-amount-id').value = oldAmount;
                const bankAccountSelect = document.getElementById('p-select-bank-account-id');
                bankAccountSelect.value = bankAccountSelect === 'None' ? 'none' : oldBankAccountId;

                console.log('Old Bank Account ID:', oldBankAccountId);
            });
        });

        async function updateCreditCardPayment(){
            const creditCardPaymentId = document.getElementById('p-credit-card-payment-id').value;
            const form = document.getElementById('edit-credit-card-payment-form');
            const formData = new FormData(form);
            
            try {
                const response = await fetch(`/credit_card_payments/update/${creditCardPaymentId}`, {
                    method: 'PUT',
                    body: formData
                });

                const data = await response.json();
                console.log(data);

                if(!response.ok){
                    console.log(response.json());
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.error || 'Something went wrong while creating the loan.'
                    });
                    return;
                }

                location.reload();//Reload the current page to see the new added income
        
            } catch (error) {
                console.error('Fetch error:', error);

                Swal.fire({
                icon: 'error',
                title: 'Network Error',
                text: error.message || 'Could not connect to server.'
                });
            }
        }
        
    
    </script>
{% endblock %}
