{% extends 'layout.html' %}

{% block title %}Accounts Receivable{% endblock %}

{% block content %}

    <div class=" w-100">

        <h2>Accounts Receivable</h2>
        <section class="modal fade" tabindex="-1" id="create-account-receivable">
            <form id="create-account-receivable-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Accounts Receivable</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <input type="text" name="person-name" id="person-name-id" class="form-control"
                                        placeholder="Person Name" required>
                                    <label for="amount-id" class="p-3">Person Name</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="description-id" class="p-3">Description</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="createIncome()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="modal fade" tabindex="-1" id="edit-account-receivable">
            <form id="edit-account-receivable-form">
                <input type="hidden" name="loan_id" id="e-loan-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="e-amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="e-is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <input type="text" name="person-name" id="e-person-name-id" class="form-control"
                                        placeholder="Person Name" required>
                                    <label for="amount-id" class="p-3">Person Name</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <input type="text" name="description" id="e-description-id" class="form-control"
                                        placeholder="Description" required>
                                    <label for="description-id" class="p-3">Description</label>
                                </div>

                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="e-select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btn-submit-edition" onclick="editIncome()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="modal fade" tabindex="-1" id="pay-account-receivable">
            <form id="pay-account-receivable-form">
                <input type="hidden" name="loan-id" id="p-loan-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Make a payment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mt-2">
                                        <input type="text" name="amount" id="p-amount-id" class="form-control"
                                            placeholder="Amount" required>
                                        <label for="amount-id">Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check form-switch mt-2">
                                        <input class="form-check-input" type="checkbox" name="is-cash" id="p-is-cash-id" switch checked>
                                        <label class="form-check-label" for="checkNativeSwitch">
                                            Cash
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mt-2">
                                    <select name="select-bank-account" id="p-select-bank-account-id" class="form-select">
                                        <option value="none">...Select...</option>
                                        {% for ba in bank_accounts %}
                                        <option value="{{ ba.id }}">{{ ba.nick_name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                    <label for="e-select-bank-account-id" class="p-3">Bank Account</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="makePayment()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <div class="w-100">
            <div class="d-flex flex-column flex-md-row align-items-stretch align-items-md-center gap-2">
                <div class="d-flex gap-2">
                    <button type="button" 
                            class="btn btn-outline-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#create-account-receivable">
                        New Account Receivable 
                    </button>
                    <a 
                        href="{{ url_for('accounts_receivable.see_all_loan_payments' ) }}" 
                        class="btn btn-light"
                    >
                        All Payments
                    </a>
                </div> 
                
                <!-- SPACER -->
                <div class="flex-grow-1"></div>

                <div class="d-flex gap-1 w-100 align-items-center" style="max-width: 320px;">
                    <div class="w-100 w-md-auto mt-md-0" style="max-width: 320px;">
                        <input type="text" class="form-control" id="filter-byfiled-input-id" placeholder="Enter some text...">
                    </div>
                </div>
                <div class="d-flex gap-1 w-100" style="max-width: 350px;">
                    <div class="w-100 w-md-auto mt-md-0">
                        <input type="text" class="form-control" id="filter-bytime-input-id" placeholder="Select a time frame">
                    </div>
                    <button type="button" class="btn btn-outline-success" id="btn-search-id"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>

        <div class="table-responsive overflow-y-auto border rounded-3 mt-2" style="max-height: 457px;">
            <table class="table table-striped  table-hover">
                <thead class="sticky-top">
                    <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remaining</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                    <th scope="col">Is Cash</th>
                    <th scope="col">Bank Account</th>
                    <th scope="col">Create at</th>
                    <th scope="col">Acctions</th>
                    </tr>
                </thead>
                
                <tbody id="loans-table-body-id">
                  {% for loan in loans %}
                    <tr class="loan-row" data-loan-id="{{ loan.id }}" data-url-associated-records = "{{ url_for('accounts_receivable.associated_records', loan_id=loan.id) }}">
                        <th scope="row">{{ loan.id }}</th>
                        <td>{{ loan.person_name }}</td>
                        <td>{{ format_amount(loan.amount) }}</td>
                        <td> {{ format_amount(loan.remaining_amount()) }} </td>
                        <td>{{ 'ACTIVE' if loan.is_active else 'PAID'  }}</td>
                        <td>{{ loan.description }}</td>
                        <td>{{ 'YES' if loan.is_cash else 'NO'  }}</td>
                        <td>{{ loan.bank_account.nick_name if loan.bank_account else '-' }}</td>
                        <td>{{ loan.created_at }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <button 
                                    id=""
                                    type="button"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#pay-account-receivable"
                                    class="btn btn-outline-light" 
                                    data-loan-id="{{ loan.id }}"
                                >
                                    <i class="bi bi-cash-coin"></i>
                                </button>
                                <button 
                                    type="button" 
                                    class="btn btn-outline-success" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#edit-account-receivable"
                                    data-loan-id="{{ loan.id }}"
                                    data-amount="{{ loan.amount }}"
                                    data-is-cash="{{ loan.is_cash }}"
                                    data-is-active="{{ loan.is_active }}"
                                    data-description="{{ loan.description }}"
                                    data-person-name="{{ loan.person_name }}"
                                    data-bank-account-id="{{ loan.bank_account_id }}"
                                >
                                    <i class="bi bi-pen"></i>
                                </button>
                                <a href="{{ url_for('accounts_receivable.delete_loan', loan_id=loan.id) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <section>
            <div class="d-flex flex-column">
                <div>
                    <label for="" id="total-loans-id">Total: ${{ total_amount(loans) }}</label>
                </div>
                <div class="row">
                    <div>
                        <label for="" id="paid-loans">Paid Loans: {{ paids }}</label>
                    </div>
                    <div>
                        <label for="" id="active-loans">Active Loans: {{ actives }}</label>
                    </div>
                    <div>
                        <label for="" id="remaining">Remaining to Collect: ${{ format_amount(remaining_to_collect) }}</label>
                    </div>
                </div>
            </div>
        </section>

            <div id="stats-container">
        <div class="d-flex justify-content-center my-2">
            <div class="d-flex justify-content-cente w-100" style="max-width: 320px;">
            <div class="border-top border-start border-end border-bottom rounded-3 p-3 w-100">
                <h5 class="mb-3 text-light">Select a year for the report</h5>
            
                <select class="form-select dark-select" id="year-select">
                    <option value="2026" selected>2026</option>
                    <option value="2025">2025</option>
                </select>
            </div>
            </div>
        </div>

        <div class="border rounded-3 w-100 p-2">
            <h3 class="text-center" id="chart-title">Loans Stats</h3>

            <div class="chart-container">
                <canvas id="yearly-stats"></canvas>
            </div>
        </div>
        <input  type="hidden" name="" id="yearly-single-model-report-endpoint" value="{{ url_for('stats.yearly_single_model_report' ) }}">
    </div>
</div>
<input type="hidden" value="{{ url_for('accounts_receivable.create_loan') }}" id="createEndPoint">
<input type="hidden" value="{{ url_for('accounts_receivable.create_loan_payment') }}" id="makePaymentEndPoint">
<input type="hidden" value="{{ url_for('accounts_receivable.filter_loans_all') }}" id="filter-data-endpoint">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script>
<script src="{{ url_for('static', filename='scripts/accounts_receivable/script.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/accounts_receivable/filterData.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/numericHandling.js' ) }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/asyncHanlding.js' ) }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/accounts_receivable/stats.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/generateChart.js' ) }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script> 
    document.addEventListener('DOMContentLoaded', () => {
        const createAccountReceivableModal = document.getElementById('create-account-receivable');
        const editAccountReceivableModal = document.getElementById('edit-account-receivable');
        const payAccountReceivableModal = document.getElementById('pay-account-receivable');

        function toggleBankAccount(checkbox, select){
            if(checkbox.checked) {
                select.disabled = checkbox.checked;
                select.value = "none";
            } else {
                select.disabled = checkbox.checked;
            }
        }
        function selectBankAccountOption(checkbox, select, event){
            if(!checkbox.checked && select.value == 'none') {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'No selected bank account',
                    text: 'If you transaction was not made in cash you must select a bank account.'
                });
                return;
            }
        }
        
        createAccountReceivableModal.addEventListener('show.bs.modal', () => {
            const isCash = document.getElementById('is-cash-id');
            const bankAccountsSelect = document.getElementById('select-bank-account-id');

            toggleBankAccount(isCash, bankAccountsSelect);
            isCash.addEventListener('change', () => toggleBankAccount(isCash, bankAccountsSelect));
        });
        
        editAccountReceivableModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;
            const btnSubmitEdition = document.getElementById('btn-submit-edition');
            const editAccountReceivableForm = document.getElementById('edit-account-receivable-form');
            const editIsCash = document.getElementById('e-is-cash-id');
            const editBankAccountsSelect = document.getElementById('e-select-bank-account-id');
            const editAmount = document.getElementById('e-amount');

            const oldIsCash = button.getAttribute('data-is-cash').toLowerCase() === 'true';
            const oldBankAccountId = button.getAttribute('data-bank-account-id');
            const oldAmount = button.getAttribute('data-amount');
            const loanId = button.getAttribute('data-loan-id');
            const isActive = button.getAttribute('data-is-active');
            const description = button.getAttribute('data-description');
            const personName = button.getAttribute('data-person-name');

            document.getElementById('e-amount-id').value = oldAmount;
            document.getElementById('e-is-cash-id').checked = oldIsCash;
            document.getElementById('e-loan-id').value = loanId;
            document.getElementById('e-select-bank-account-id').value = oldBankAccountId; //If on the db its value it's Null flask will convert it into 'None' which the browser interprets it as String value in js
            if(oldBankAccountId === 'None') {
                document.getElementById('e-select-bank-account-id').value = 'none';
            }
            document.getElementById('e-person-name-id').value = personName;
            document.getElementById('e-description-id').value = description;
            
            toggleBankAccount(editIsCash, editBankAccountsSelect);
            editIsCash.addEventListener('change', () => toggleBankAccount(editIsCash, editBankAccountsSelect));

            editAccountReceivableForm.addEventListener('submit', (event) => {
                selectBankAccountOption(editIsCash, editBankAccountsSelect, event);
            });

        });
        
        payAccountReceivableModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;
            const loanId = button.getAttribute('data-loan-id');
            document.getElementById('p-loan-id').value = loanId; //Set the loan id to the hidden input so backend can process it as part of the form
            const isCash = document.getElementById('p-is-cash-id');
            const bankAccountsSelect = document.getElementById('p-select-bank-account-id');

            toggleBankAccount(isCash, bankAccountsSelect);
            isCash.addEventListener('change', () => toggleBankAccount(isCash, bankAccountsSelect));
        });
    })
</script>
<script>
    async function createIncome(){
        const createEndPoint = document.getElementById('createEndPoint').value;
        const form = document.getElementById('create-account-receivable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(createEndPoint, {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            if(!response.ok){
                console.log(response.json());
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the income.'
                });
                return;
            }
            location.reload();//Reload the current page to see the new added income
        
        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }        
    }

    async function editIncome(){
        const loanId = document.getElementById('e-loan-id').value;
        const form = document.getElementById('edit-account-receivable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(`/accounts_receivable/update_loan/${loanId}`, {
                method: 'PUT',
                body: formData,
            });

            const data = await response.json();

            if(!response.ok){
                console.log(response.json())
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the expense.'
                });
                return;
            }

            location.reload();

        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }
    }

    async function makePayment(){
        const createEndPoint = document.getElementById('makePaymentEndPoint').value;

        const form = document.getElementById('pay-account-receivable-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(createEndPoint, {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            console.log(data);

            if(!response.ok){
                console.log(response.json());
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the loan.'
                });
                return;
            }

            if(data.is_paid === true){
                console.log(data);
                Swal.fire({
                    icon: 'success',
                    title: data.message || 'The loan has been fully paid.'
                });
                return;
            }

            location.reload();//Reload the current page to see the new added income
        
        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }
    }
</script>
{% endblock %}