{% extends 'layout.html' %}

{% block title %}Expense Categories{% endblock %}

{% block content %}
    <div class="container w-75">
        <h2>Expense Categories</h2>
        <section class="modal fade" tabindex="-1" id="create-expense-category">
            <form action="{{ url_for('expense_category.create' ) }}" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm">
                                <div class="form-floating mt-2 w-">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Bank name" required>
                                    <label for="name">Category name</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="modal fade" tabindex="-1" id="edit-expense-category">
            <form action="{{ url_for('expense_category.update' ) }}" method="post">
                <input type="hidden" name="id" id="expense-category-id-input">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm">
                                <div class="form-floating mt-2 w-">
                                    <input type="text" name="name" id="expense-category-name" class="form-control" placeholder="Bank name" required>
                                    <label for="name">Category name</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create-expense-category">New Expense Category</button>
        <div class="row">
            <div class="col-sm">
                <div class="table-responsive overflow-y-auto border rounded-3 mt-1" style="max-height: 457px; max-width:max-content">
                    <table class="table table-striped  table-hover">
                        <thead class="sticky-top">
                            <tr>
                            <th scope="col"># Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Acctions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense_category in expense_categories %}                    
                            <tr class="expense-category-row" data-expense-category-id="{{expense_category.id}}">
                                <th scope="row">{{ expense_category.id }}</th>
                                <td>{{ expense_category.name }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm my-1">
                                            <button 
                                                type="button" 
                                                class="btn btn-success" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#edit-expense-category"
                                                data-id="{{ expense_category.id }}"
                                                data-name="{{ expense_category.name }}"
                                            >
                                            Edit
                                            </button>
                                        </div>
                                        <div class="col-sm my-1">
                                            <form action="{{ url_for('expense_category.delete', id=expense_category.id) }}" method="post">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <canvas id="totals-per-category"></canvas>
                </div>
            </div>
        </div>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="../../static/scripts/expense_category/script.js"></script>
    <script src="../../static/scripts/expense_category/stats.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editExpenseCategory = document.getElementById('edit-expense-category');

            editExpenseCategory.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                const exepenseCategoryId = button.getAttribute('data-id');
                const expenseCategoryName = button.getAttribute('data-name');

                document.getElementById('expense-category-id-input').value = exepenseCategoryId;
                document.getElementById('expense-category-name').value = expenseCategoryName;
                document.getElementById('modal-title').textContent = 'Edit '+expenseCategoryName;
            });
        })
    </script>
{% endblock %}
