{% extends 'layout.html' %}

{% block title %}Cash Ledger{% endblock %}

{% block content %}
    <section class="modal fade" tabindex="-1" id="create-adjustment">
        <form id="create-adjustment-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Adjustment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm">
                            <div class="form-floating mt-2">
                                <input type="text" name="amount" id="amount-id" class="form-control"
                                    placeholder="Amount" required>
                                <label for="amount-id">Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="createAdjustment()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <div class="container w-100">

        <h2>Cash Ledger</h2>
        <div class="d-flex justify-content-start gap-1 flex-wrap flex-md-nowrap mt-2">
            <!--<div class="d-flex gap-1 w-100 align-items-center" style="max-width: 320px;">
                <div class="w-md-auto mt-md-0">
                    <label for="" class="fs-6 fw-bold">Filter by: </label>
                </div>
                <div class="w-100 w-md-auto mt-md-0" style="max-width: 250px;">
                    <select class="form-select" id="select-filter-type-id">
                        <option value="field">Field</option>
                        <option value="time">Time</option>
                    </select>
                </div>
            </div>-->
            <button 
                type="button"
                id="btn-create-expense-id"
                class="btn btn-outline-warning me-auto fw-bold me-md-auto w-100 w-md-auto" 
                style="max-width: 300px;"
                data-bs-toggle="modal"
                data-bs-target="#create-adjustment"
            >Make An Adjustment</i>
            </button>
            <div class="d-flex gap-1 w-100 align-items-center" style="max-width: 320px;">
                <input type="text" class="form-control" id="filter-byfiled-input-id" placeholder="Enter some text...">
            </div>
            <div class="d-flex gap-1 w-100" style="max-width: 350px;">
                <div class="w-100 w-md-auto mt-md-0">
                    <input type="text" class="form-control" id="filter-bytime-input-id" placeholder="Select a time frame">
                </div>
                <button type="button" class="btn btn-outline-success" id="btn-search-id"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <div class="table-responsive overflow-y-auto border rounded-3 mt-1" style="max-height: 457px;">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="table-secondary">
                        <th scope="col"># Id</th>
                        <th scope="col">Ref. Code</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Create at</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                
                <tbody id="cashledger-table-body-id">
                  {% for ledger in ledgers %}
                    <tr>
                        <th scope="row">{{ ledger.id }}</th>
                        <td>{{ ledger.reference_code }}</td>
                        <td>{{ ledger.type | replace('_', ' ') | lower | title }}</td>
                        <td>{{ ledger.amount }}</td>
                        <td>{{ ledger.created_at | format_datetime("EEE, dd MMM yyyy hh:mm a") }}</td>
                        <td>{% if ledger.type.lower() == 'adjustment' %}
                                <a href="{{ url_for('cashledger.delete_adjustment', id=ledger.id ) }}" class="text-danger" style="width: 35px; height: 35px;">
                                    remove
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <p id="lbl-total">Available Cash: {{ sum_result }}</p>
    </div>

    <input type="hidden" name="" id="filter-data-endpoint" value="{{ url_for('cashledger.filter_all' ) }}">
    <input type="hidden" name="" id="create-adjustment-endpoint" value="{{ url_for('cashledger.create_adjustment' ) }}">

<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="{{ url_for('static', filename='scripts/utils/utils.js' ) }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/cashledger/filterData.js' ) }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/utils/asyncHanlding.js' ) }}"></script>

<script>
    async function createAdjustment(){
        const endpoint = document.getElementById('create-adjustment-endpoint').value;
        const form = document.getElementById('create-adjustment-form');
        const formData = new FormData(form);

        try {
            const response = await fetch(endpoint, {
                method: 'POST',
                body: formData,
            });

            const data = await response.json();

            if(!response.ok){
                console.log(response.json());
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.error || 'Something went wrong while creating the income.'
                });
                return;
            }
            location.reload();//Reload the current page to see the new added income
        
        } catch (error) {
            console.error('Fetch error:', error);

            Swal.fire({
            icon: 'error',
            title: 'Network Error',
            text: error.message || 'Could not connect to server.'
            });
        }        
    }
</script>

<script>
document.addEventListener('click', async e => {
    const btn = e.target.closest('a.text-danger');
    if(!btn) return;

    e.preventDefault();

    const deleteUrl = btn.getAttribute('href');

    Swal.fire({
        title: "Are you sure?",
        text: "This record will be deleted.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!"
    }).then(async (result) => {
        if (result.isConfirmed) {
            const res = await fetch(deleteUrl, {
                method: 'DELETE'
            });

            let data = await res.json();
            console.log(data);

            
            if (res.ok) {
                location.reload();
            } else {
                Swal.fire("Error", data.error, "error");
            }
        }
    });
});
</script>
{% endblock %}